<div class="">
    <div class="serviceBlock row">
        <div class="col-sm-4 col-sm-offset-2">
            <h3>
                Lemon drops
            </h3>
            <p>
                Fruitcake toffee jujubes. Topping biscuit sesame snaps jelly caramels jujubes tiramisu fruitcake. Marzipan tart lemon drops chocolate sesame snaps jelly beans.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="img/pfeil_links.png">
        </div>
    </div>

    <div class="serviceBlock row" animate-move>
        <div class="col-sm-6" style="text-align:right">
            <img src="img/pfeil_rechts.png">
        </div>
        <div class="col-sm-4">
            <h3>
                Plum caramels
            </h3>
            <p>
                Lollipop powder danish sugar plum caramels liquorice sweet cookie. Gummi bears caramels gummi bears candy canes cheesecake sweet roll icing dragée. Gummies jelly-o tart. Cheesecake unerdwear.com candy canes apple pie halvah chocolate tiramisu.            
            </p>
        </div>
    </div>
    <div class="serviceBlock row" animate-move >
        <div class="col-sm-4 col-sm-offset-2">
            <h3>
                Lemon drops
            </h3>
            <p>
                Fruitcake toffee jujubes. Topping biscuit sesame snaps jelly caramels jujubes tiramisu fruitcake. Marzipan tart lemon drops chocolate sesame snaps jelly beans.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="img/pfeil_links.png">
        </div>
    </div>

    <div class="serviceBlock row" animate-move>
        <div class="col-sm-6" style="text-align:right">
            <img src="img/pfeil_rechts.png">
        </div>
        <div class="col-sm-4">
            <h3>
                Plum caramels
            </h3>
            <p>
                Lollipop powder danish sugar plum caramels liquorice sweet cookie. Gummi bears caramels gummi bears candy canes cheesecake sweet roll icing dragée. Gummies jelly-o tart. Cheesecake unerdwear.com candy canes apple pie halvah chocolate tiramisu.            
            </p>
        </div>
    </div>
</div>